
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Righteous');

// White space classes

$directions: top right bottom left;

@for $increment from 0 through 3 {
  @each $direction in $directions {
    .margin-#{$direction}-#{$increment} {
      margin-#{$direction}: #{$increment}rem;
    }
    .padding-#{$direction}-#{$increment} {
      padding-#{$direction}: #{$increment}rem;
    }
  }
  .margin-all-#{$increment} {
    margin: #{$increment}rem;
  }
  .padding-all-#{$increment} {
    padding: #{$increment}rem;
  }
}


// Mixins

@mixin m-absolute-positioner( $top, $right, $bottom, $left ) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Variables

$brand-color: #42b883;
$brand-font-color: #35495e;
$brand-white: #fff;
$brand-accent-font: 'Righteous', cursive;
$brand-font: 'Nunito', sans-serif;

.button {
  background-color: $brand-color;
  color: $brand-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $brand-accent-font;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $brand-color;
}

// Copy Foundations Prototype classes
.rounded {
  border-radius: 5000px !important;
}

.float-right {
  float: right;
}

.float-left {
  float: right;
}
// 